In [1]:
import pandas as pd


df = pd.read_csv("Dataset.csv")
df

,Year,WHO region,Country,Beverage Types,Display Value
0,1986,Western Pacific,Viet Nam,Wine,0.00
1,1986,Americas,Uruguay,Other,0.50
2,1985,Africa,Cte d'Ivoire,Wine,1.62
3,1986,Americas,Colombia,Beer,4.27
4,1987,Americas,Saint Kitts and Nevis,Beer,1.98
...,...,...,...,...,...
95,1984,Africa,Niger,Other,0.00
96,1985,Europe,Luxembourg,Wine,7.38
97,1984,South-East Asia,Indonesia,Wine,0.00
98,1984,Africa,Equatorial Guinea,Wine,0.00
99,1985,South-East Asia,Democratic People's Republic of Korea,Wine,0.00

1. Write a Pandas program to display the dimensions or shape of the World alcohol consumption dataset. Also extract the column names from the dataset.

2. Write a Pandas program to select first 2 rows, 2 columns and specific two columns from World alcohol consumption dataset.

In [6]:
first = df.iloc[:2, :2]
first

   Year       WHO region
0  1986  Western Pacific
1  1986         Americas

Write a Pandas program to select random number of rows, fraction of random rows from World alcohol consumption dataset.

In [21]:

random_rows = df.sample(n=5)  


f_random = df.sample(frac=0.25) 

# Display the randomly selected rows
print("Random Number of Rows:")
random_rows

print("\nFraction of Random Rows:")
f_random

Random Number of Rows:

Fraction of Random Rows:

,Year,WHO region,Country,Beverage Types,Display Value
40,1987,Europe,Austria,Spirits,1.90
55,1989,Americas,Suriname,Wine,0.04
53,1984,Eastern Mediterranean,Kuwait,Beer,0.00
17,1989,Africa,Seychelles,Beer,2.23
91,1989,Europe,Bulgaria,Beer,4.43
89,1986,Eastern Mediterranean,Lebanon,Wine,0.70
88,1987,Eastern Mediterranean,Lebanon,Beer,0.42
76,1985,Africa,Comoros,Beer,0.02
11,1989,Americas,Guatemala,Beer,0.62
22,1984,Europe,Romania,Spirits,2.67
31,1986,Western Pacific,Micronesia (Federated States of),Wine,0.00
29,1986,Europe,Italy,Other,NaN
34,1986,Europe,Russian Federation,Wine,0.80
39,1987,Africa,Burkina Faso,Spirits,0.01
77,1985,Africa,Cameroon,Spirits,0.01
14,1985,Western Pacific,Viet Nam,Spirits,0.05
57,1989,Europe,Croatia,Wine,5.10
18,1984,Europe,Norway,Spirits,1.62
61,1984,Western Pacific,Papua New Guinea,Spirits,0.08
27,1984,Eastern Mediterranean,Bahrain,Beer,2.22
66,1987,Eastern Mediterranean,Iraq,Wine,0.01
56,1987,Western Pacific,Viet Nam,Wine,0.00
36,1987,Eastern Mediterranean,Egypt,Beer,0.07
20,1986,South-East Asia,Myanmar,Wine,0.00
15,1987,Africa,Guinea-Bissau,Wine,0.07

Write a Pandas program to find and drop the missing values from World alcohol consumption dataset.

In [19]:


missing_values = df.isnull().sum()
print("Missing Values in the Dataset:")
print(missing_values)


df_cleaned = df.dropna()

print("\nCleaned Dataset without Missing Values:")
df_cleaned

Missing Values in the Dataset:
Year              0
WHO region        0
Country           0
Beverage Types    0
Display Value     5
dtype: int64

Cleaned Dataset without Missing Values:

,Year,WHO region,Country,Beverage Types,Display Value
0,1986,Western Pacific,Viet Nam,Wine,0.00
1,1986,Americas,Uruguay,Other,0.50
2,1985,Africa,Cte d'Ivoire,Wine,1.62
3,1986,Americas,Colombia,Beer,4.27
4,1987,Americas,Saint Kitts and Nevis,Beer,1.98
...,...,...,...,...,...
95,1984,Africa,Niger,Other,0.00
96,1985,Europe,Luxembourg,Wine,7.38
97,1984,South-East Asia,Indonesia,Wine,0.00
98,1984,Africa,Equatorial Guinea,Wine,0.00
99,1985,South-East Asia,Democratic People's Republic of Korea,Wine,0.00

5. Write a Pandas program to remove the duplicates from 'WHO region' column of World alcohol consumption dataset.

In [18]:
f_cleaned = df.drop_duplicates(subset=['WHO region'])


print("Cleaned DataFrame without Duplicates in 'WHO Region' Column:")
df_cleaned

Cleaned DataFrame without Duplicates in 'WHO Region' Column:

,Year,WHO region,Country,Beverage Types,Display Value
0,1986,Western Pacific,Viet Nam,Wine,0.00
1,1986,Americas,Uruguay,Other,0.50
2,1985,Africa,Cte d'Ivoire,Wine,1.62
3,1986,Americas,Colombia,Beer,4.27
4,1987,Americas,Saint Kitts and Nevis,Beer,1.98
...,...,...,...,...,...
95,1984,Africa,Niger,Other,0.00
96,1985,Europe,Luxembourg,Wine,7.38
97,1984,South-East Asia,Indonesia,Wine,0.00
98,1984,Africa,Equatorial Guinea,Wine,0.00
99,1985,South-East Asia,Democratic People's Republic of Korea,Wine,0.00


6. Write a Pandas program to find out the alcohol consumption of a given year from the world alcohol consumption dataset.

In [50]:


year = 1985


y = df[df['Year'] == year]


y

,Year,WHO region,Country,Beverage Types,Display Value
2,1985,Africa,Cte d'Ivoire,Wine,1.62
7,1985,Africa,Angola,Spirits,0.39
12,1985,Western Pacific,Lao People's Democratic Republic,Beer,0.00
14,1985,Western Pacific,Viet Nam,Spirits,0.05
24,1985,Africa,Comoros,Other,0.00
26,1985,Europe,United Kingdom of Great Britain and Northern I...,Wine,1.36
33,1985,Africa,Mauritania,Other,0.00
35,1985,Americas,Saint Kitts and Nevis,Spirits,2.24
44,1985,Europe,Lithuania,Other,0.00
50,1985,Europe,Switzerland,Other,0.30
63,1985,Eastern Mediterranean,Libya,Other,0.00
71,1985,Africa,Mali,Other,0.57
76,1985,Africa,Comoros,Beer,0.02
77,1985,Africa,Cameroon,Spirits,0.01
80,1985,Africa,Malawi,Other,0.84
81,1985,Europe,Netherlands,Wine,2.54
85,1985,Africa,Democratic Republic of the Congo,Wine,0.01
94,1985,Europe,Ukraine,Spirits,3.06
96,1985,Europe,Luxembourg,Wine,7.38
99,1985,South-East Asia,Democratic People's Republic of Korea,Wine,0.00

7. Write a Pandas program to find out the alcohol consumption details in the year '1987' or '1989' from the world alcohol consumption dataset.

In [33]:


filtered_data = df[(df['Year'] == 1987) | (df['Year'] == 1989)]


print("Alcohol Consumption Details in the Year 1987 or 1989:")
filtered_data

Alcohol Consumption Details in the Year 1987 or 1989:

,Year,WHO region,Country,Beverage Types,Display Value
4,1987,Americas,Saint Kitts and Nevis,Beer,1.98
5,1987,Americas,Guatemala,Other,0.00
6,1987,Africa,Mauritius,Wine,0.13
10,1987,Africa,Botswana,Wine,0.20
11,1989,Americas,Guatemala,Beer,0.62
15,1987,Africa,Guinea-Bissau,Wine,0.07
17,1989,Africa,Seychelles,Beer,2.23
21,1989,Americas,Costa Rica,Spirits,4.51
28,1987,Western Pacific,Viet Nam,Beer,0.11
32,1989,Africa,Mauritius,Beer,1.60
36,1987,Eastern Mediterranean,Egypt,Beer,0.07
38,1987,Eastern Mediterranean,Qatar,Other,0.00
39,1987,Africa,Burkina Faso,Spirits,0.01
40,1987,Europe,Austria,Spirits,1.90
45,1989,Africa,Zimbabwe,Beer,0.19
46,1987,Americas,Trinidad and Tobago,Spirits,2.26
48,1987,Americas,Nicaragua,Beer,0.70
51,1987,Europe,Finland,Beer,3.88
55,1989,Americas,Suriname,Wine,0.04
56,1987,Western Pacific,Viet Nam,Wine,0.00
57,1989,Europe,Croatia,Wine,5.10
59,1989,Eastern Mediterranean,Syrian Arab Republic,Other,0.00
60,1987,Eastern Mediterranean,Iran (Islamic Republic of),Other,0.00
62,1987,Americas,Suriname,Other,0.00
64,1989,Americas,Bolivia (Plurinational State of),Beer,1.26
65,1989,Eastern Mediterranean,Somalia,Beer,0.00
66,1987,Eastern Mediterranean,Iraq,Wine,0.01
67,1989,Africa,Namibia,Beer,0.00
68,1989,Africa,Uganda,Beer,0.12
72,1987,Africa,Mauritania,Other,0.00
75,1989,Eastern Mediterranean,Afghanistan,Other,0.00
78,1989,Americas,Jamaica,Other,0.00
79,1989,Europe,Finland,Other,2.09
82,1987,Europe,Ireland,Spirits,2.25
87,1989,Eastern Mediterranean,Iraq,Wine,0.01
88,1987,Eastern Mediterranean,Lebanon,Beer,0.42
90,1989,Africa,Malawi,Wine,0.01
91,1989,Europe,Bulgaria,Beer,4.43
93,1987,Africa,Madagascar,Other,NaN

8. Write a Pandas program to find out the alcohol consumption details by the 'Americas' in the year '1985' from the world alcohol consumption dataset.

In [38]:

filtered_data = df[(df['Year'] == 1985) | (df['WHO region'] == 'Americas')]


print("Alcohol Consumption Details in the Americas in the Year 1985:")
filtered_data

Alcohol Consumption Details in the Americas in the Year 1985:

,Year,WHO region,Country,Beverage Types,Display Value
1,1986,Americas,Uruguay,Other,0.50
2,1985,Africa,Cte d'Ivoire,Wine,1.62
3,1986,Americas,Colombia,Beer,4.27
4,1987,Americas,Saint Kitts and Nevis,Beer,1.98
5,1987,Americas,Guatemala,Other,0.00
7,1985,Africa,Angola,Spirits,0.39
8,1986,Americas,Antigua and Barbuda,Spirits,1.55
11,1989,Americas,Guatemala,Beer,0.62
12,1985,Western Pacific,Lao People's Democratic Republic,Beer,0.00
14,1985,Western Pacific,Viet Nam,Spirits,0.05
16,1984,Americas,Costa Rica,Wine,0.06
21,1989,Americas,Costa Rica,Spirits,4.51
24,1985,Africa,Comoros,Other,NaN
26,1985,Europe,United Kingdom of Great Britain and Northern I...,Wine,1.36
33,1985,Africa,Mauritania,Other,0.00
35,1985,Americas,Saint Kitts and Nevis,Spirits,2.24
44,1985,Europe,Lithuania,Other,NaN
46,1987,Americas,Trinidad and Tobago,Spirits,2.26
47,1986,Americas,Mexico,Other,0.04
48,1987,Americas,Nicaragua,Beer,0.70
50,1985,Europe,Switzerland,Other,0.30
54,1984,Americas,El Salvador,Spirits,1.81
55,1989,Americas,Suriname,Wine,0.04
62,1987,Americas,Suriname,Other,0.00
63,1985,Eastern Mediterranean,Libya,Other,0.00
64,1989,Americas,Bolivia (Plurinational State of),Beer,1.26
71,1985,Africa,Mali,Other,0.57
74,1986,Americas,Bolivia (Plurinational State of),Spirits,2.06
76,1985,Africa,Comoros,Beer,0.02
77,1985,Africa,Cameroon,Spirits,0.01
78,1989,Americas,Jamaica,Other,0.00
80,1985,Africa,Malawi,Other,0.84
81,1985,Europe,Netherlands,Wine,2.54
85,1985,Africa,Democratic Republic of the Congo,Wine,0.01
86,1986,Americas,Bahamas,Wine,1.83
94,1985,Europe,Ukraine,Spirits,3.06
96,1985,Europe,Luxembourg,Wine,7.38
99,1985,South-East Asia,Democratic People's Republic of Korea,Wine,0.00

Write a Pandas program to find out the records where consumption of beverages per person average >=5 and Beverage Types is Beer from world alcohol consumption dataset.

In [29]:
filtered_data = df[(df['Display Value'] >= 5) & (df['Beverage Types'] == 'Beer')]

print("Records where consumption of beverages per person average >= 5 and Beverage Types is Beer:")
filtered_data

Records where consumption of beverages per person average >= 5 and Beverage Types is Beer:

    Year WHO region         Country Beverage Types  Display Value
41  1986     Europe  Czech Republic           Beer           6.82

10. Write a Pandas program to find out the records where consumption of beverages per person average >=4 and Beverage Types is Beer, Wine, Spirits from world alcohol consumption dataset.

In [40]:
filtered_data = df[(df['Display Value'] >= 4) & (df['Beverage Types'].isin(['Beer', 'Wine', 'Spirits']))]


print("Records where consumption of beverages per person average >= 4 and Beverage Types are Beer, Wine, or Spirits:")
filtered_data

Records where consumption of beverages per person average >= 4 and Beverage Types are Beer, Wine, or Spirits:

    Year WHO region         Country Beverage Types  Display Value
3   1986   Americas        Colombia           Beer           4.27
21  1989   Americas      Costa Rica        Spirits           4.51
41  1986     Europe  Czech Republic           Beer           6.82
57  1989     Europe         Croatia           Wine           5.10
91  1989     Europe        Bulgaria           Beer           4.43
96  1985     Europe      Luxembourg           Wine           7.38

11. Write a Pandas program to filter those records where WHO region contains "Ea" substring from world alcohol consumption dataset.

In [57]:


filtered_df = df[df['WHO region'].str.contains('Ea')]

# Display the filtered records
filtered_df

Empty DataFrame
Columns: [Year, WHO region, Country, Beverage Types, Display Value]
Index: []

In [58]:
# Define the list of WHO regions to match
who_regions = ['Africa', 'Eastern Mediterranean', 'Europe']

# Filter records where WHO region matches with multiple values
filtered_df = df[df['WHO region'].isin(who_regions)]

# Display the filtered records
print(filtered_df)

    Year WHO region            Country Beverage Types  Display Value
2   1985     Africa       Cte d'Ivoire           Wine           1.62
6   1987     Africa          Mauritius           Wine           0.13
7   1985     Africa             Angola        Spirits           0.39
9   1984     Africa            Nigeria          Other           6.10
10  1987     Africa           Botswana           Wine           0.20
..   ...        ...                ...            ...            ...
93  1987     Africa         Madagascar          Other           0.00
94  1985     Europe            Ukraine        Spirits           3.06
95  1984     Africa              Niger          Other           0.00
96  1985     Europe         Luxembourg           Wine           7.38
98  1984     Africa  Equatorial Guinea           Wine           0.00

[69 rows x 5 columns]